/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

a {
	text-decoration: none;
}

@font-face
{
font-family: telegrama-raw;
src: url('telegrama_raw.ttf'),
     url('telegrama_raw.eot'); /* IE9 */
}
@font-face
{
font-family: telegrama-render;
src: url('telegrama_render.ttf'),
     url('telegrama_render.eot'); /* IE9 */
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#loading{
	position:fixed;
	width:100%;
	height:100%;
	background-color:#1BBF77;
	color:black;
	font-family:"telegrama-render";
	font-size:2em;
	text-align:center;
	padding-top:30%;
	
}

.button{
	background-color:#f00;
	display:inline-block;
	padding: 15px 22px 10px 22px;
	font-family:"telegrama-raw";
	color:#fff;
	outline: 2px solid #fff;
	outline-offset: -4px;
	cursor: pointer;
	font-size:1.2em;
}

.button:hover{
	outline: 2px solid #fff;
	outline-offset: 0px;
}

.leftBox{
	float:left;
	text-align:center;
	width:333px;
	height:540px;
	margin: 2px 0px 0px 2px;
	border:thin solid black;
	border-right:none;
}

.leftBox span{
	display:block;
}

.rightBox{
	display:block;
	float:right;
	border:thin solid black;
	border-left:thick solid black;
	width:600px;
	height:540px;
	margin:2px 2px 2px 0px;
	vertical-align:middle;
}

.underlinedText{
	font-size:1.71em;
	text-transform:uppercase;
	font-family:"telegrama-render";
	background-image:url('../images/underline.gif');
	background-size: 22px 35px;
	padding-left:2px;
}

/*Intro */

.splashContent{
	background-color: black;
	display:block;
}

.splashContent #container{
	width:750px;
	margin:0px auto;
	}

.splashContent h1 {
	font-family:"telegrama-raw";
	font-size:4.5em;
	color:#1BBF77;
}

.splashContent p{
	font-family:"telegrama-raw";
	font-size:.80em;
	color:#1BBF77;
}

.splashContent .button{
		float:right;
}

.splashContent canvas{
	height:180px;
	background-color:white;
	margin-bottom:30px;
}

/*Game */

.gameContent{
	background-image:url('../images/background.gif');
	white-space:nowrap;
	font-family:"telegrama-raw";
	font-size:1.2em;
}

.gameContent #container{
	width:944px;
	height:546px;
	background-color:#ffffff;
	margin:20px auto 0px auto;
	border: 8px solid black;
}

#imageContainer{
	background-color:#ccc;
}

#imageContainer img{
	display:inline-block;
	width:98%;
	margin:auto;
	margin-top:30px;
	border:thin solid gray;
}


#inputFields{
	margin:10px 30px;
	font-size:.5em;
}

#inputFields span{
	margin:0 1px;
	padding:2px;
	float:left;
	border:thin solid #1BBF77;
	width:1.5em;
	height:1.9em;
	line-height: 2em;
}

#inputFields a{
	float:right;
	padding:4px 10px;
	padding:4px 6px;
}
#inputFields .hilight{
	background-color:yellow;
}

#inputFields .passed{
	background-color:black;
	color:black;
}
#inputFields .completed{
	background-color:#1BBF77;
	color:white;
}

#timer{
	display:inline-block;
	font-family:"telegrama-render";
	font-size:5.5em;
	border-bottom:thin solid #1BBF77;
	margin: 20px 0px;
}

#game input{
	/*0.67 em per letter*/
	width:0px;
	outline: 2px solid #1BBF77;
	outline-offset:1px;
	border:8px solid #CCCCCC;
	margin:5px 0px;
	background-color:#CCCCCC;
	
}

#game canvas{
	float:left;
	padding:0px;
}

/*score*/

#score #gameMessage{
	color:red;
	font-size:.6em;
	background-image:none;
	margin-top:15px;
	margin-bottom:15px;

}
#score br{
	clear:both;
}

#score span{

	display:inline-block;
	width:auto;
	line-height:1.1em;
	margin:1px;
}

#score .leftBox{
	text-align:center;
}

#score .button{
	font-size: 1.5em;
	margin-top:20px;
	padding: 15px 70px 10px 70px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * Clearfix2: for possible duplication
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix2:before,
.clearfix2:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix2:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
/* ==========================================================================
   Realize underline in a violent way
   ========================================================================== */
#underline{
	position: absolute;
	width: 2.68em;
	border-bottom: solid black 1px;
}
