div.search-form
{
    background-color:white; /*for test*/
}
#advancedButton , #searchedValue
{
    display: inline-block;
}
#searchedValue
{
    font-weight:bold;
}

.items {
    display: flex-box;
    float: left;
}

.imageInside
{
    display: inline-block;
    margin: 4px;
    border: 1px solid #f3f3f3;
    width: 190px;
    height: 100px;
}

.imageInside img {
    width: 190px;
    height: 100px;
}

a:link, a:visited, a:hover {
    text-decoration: none;
}

.image_description {
    width: 170px;
    height: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px 10px;
    background-color: black;
    text-decoration: none;
    opacity: 0.5;
    color: white;
    margin-top: -50px;
}

a.image_hover > .image_description {
    display: none;
}

a.image_hover:hover > .image_description {
    display: block;
}

.media_full_description {
    width: 100%;
    min-height: 400px;
    background-color: black;
    margin: 10px 0;
    display: none;
}

.text_descr {
    display: flex-box; float: left; color: white; width: 390px; padding: 0 0 20px 0;
}

#related_items {
    width: 320px; margin-left: auto; margin-right: auto;
}

#related_items > div.item {
    display: flex-box; float: left; margin: 5px;
}

#related_items > div.item > img {
    width: 70px; height: 70px;
}

.image_div {
    display: flex-box; float: left; padding: 10px 20px;
}

.image_div > img {
    max-width: 600px; max-height: 380px;
}

.text_descr > div {
    margin: 0 0 12px 0;
    font-weight: normal;
    font-size:  11px;
}

.text_descr > div:last-of-type {
    margin: 0 0 0 0;
}

.text_descr > div strong {
    font-weight: bold;
    font-size:  15px;
}

.text_descr > div a:link {
    color: white;
    text-decoration: underline;
}

.center {
    margin-left: 85px;
    margin-top: 10px;
    display: none;
}

.arrow > img {
    width: 9px;
    height: 5px;
}

.delete {
    padding: 10px 10px 0 0;
}

.menu {
    width: 200px;
    float: left;
    margin-top: 50px;
    padding: 0 10px;
}

.menu > div {

}

.menu .separator {
    height: 10px;
    background-color: #505050;
}

.main_content {
    float: left;
    width: 1000px;
}