div.search-form
{
    background-color:white;
}

#searchedValue, #putFor
{
    display: inline-block;
}
#searchedValue
{
    font-weight:bold;
}

.items {
    display: flex-box;
    float: left;
    margin-top: 15px;
}

.imageInside
{
    display: inline-block;
    margin: 4px;
    border: 1px solid #f3f3f3;
    width: 160px;
    height: 120px;
}

.imageInside img {
    width: 160px;
    height: 120px;

}

a:link, a:visited, a:hover {
    text-decoration: none;
}

.image_description {
    width: 140px;
    height: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 5px 10px;
    background-color: black;
    text-decoration: none;
    opacity: 0.5;
    color: white;
    margin-top: -50px;
}

a.image_hover > .image_description {
    display: none;
}

a.image_hover:hover > .image_description {
    display: block;
}

.media_full_description {
    width: 100%;
    background-color: black;
    margin: 10px 0;
    display: none;
    padding-bottom: 10px;
}

.text_descr {
    display: flex-box;
    float: left;
    color: white;
    width: 375px;
    margin-left: 15px;
    padding: 0 0 20px 0;
}

#related_items {
    width: 320px; margin-left: auto; margin-right: auto;
}

#related_items > div.item {
    display: flex-box; float: left; margin: 5px;
}

#related_items > div.item > img {
    width: 70px; height: 70px;
}

.image_div {
    display: flex-box;
    float: left;
}

.image_div > img {
    max-width: 500px;
    max-height: 380px;
    margin-left: 10px;
    margin-top: 10px;
}

.text_descr > div {
    margin: 0 0 12px 0;
    font-weight: normal;
    font-size:  11px;
}

.text_descr > div:last-of-type {
    margin: 0 0 0 0;
}

.text_descr > div strong {
    font-weight: bold;
    font-size:  15px;
}

.text_descr > div a:link {
    color: white;
    text-decoration: underline;
}

.center {
    margin-left: 85px;
    margin-top: 10px;
    display: none;
}

.arrow > img {
    width: 9px;
    height: 5px;
}

.delete {
    padding: 10px 10px 0 0;
}

.menu {
    width: 180px;
    float: left;
    margin-top: 110px; /* was 23px*/
    padding: 0 10px;
}

.menu .separator {
    height: 7px;
    background-color: #505050;
    margin: 10px 0;
}

.main_content {
    float: left;
    width: 1000px;
}

input[type="checkbox"] {
    vertical-align: middle !important;
}
/*new style*/
#totalItemsFound {
    width: 100%;
}

.main_content {
    background-color:white;
    display: inline-block;
    width: 900px;
}

.refine {
    float: left;
}

#imageButton {
    height: 30px;
    margin-bottom: 14px;
}

#Custom_tags,
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 23px;
    width: 330px;

}

#selectItemsPerPage
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 23px;
    width: 50px;
}

#sortBy
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 23px;
    width: 150px;
}

#playTagConnect {
    font-family: cursive;
    font-size: 142%;
}

#metadatagameslogo, #searchRow, #playTagConnect {
    display: inline;
}

#content {
    padding: 0 20px 20px;
}


#searchRow {
    display: inline-block;
    width: 61%;
}

div.search-form {
    margin: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#playTagConnect {
/*     font-family: cursive; */
    font-size: 142%;
    padding-left: 134px;
    position: relative;
}

#playTagConnect img {
    vertical-align: bottom;
}


#searchRow {
    display: inline-block;
    padding-left: 31px;
    position: relative;
    width: 61%;
}

#searchHeader {
    margin-bottom: 2%;
}


.delete.right {
    cursor: pointer;
}

 /*>>>*/

.itemsPerPage, .sorter {
    display: inline;
}



#levelOneHolder {
    background: none repeat scroll 0 0 #E3E3E3;
    float: right;
    width: 124%;
}

.menu {
    float: left;
    margin-top: 90px;
    padding: 0 10px;
    width: 180px;
}

.pager {

    display: inline;
    float: right;
    height: 40px;
    padding-bottom: 0;
    text-align: end;
    width: 55%;
}

.itemsPerPage {
    margin-left: 1%;
    margin-right: 3%;
}

#footer
{
    margin-top: 55%;
}

.empty {
    display: block;
    margin: 280px;
    font-size: 110%;
}
 /*--*/
.institutionWebsite
{
    color: white;
    padding-left: 8%;
}

.otherMediaInterests {
    padding-left: 8%;
    padding-top: 2%;
}

.licence {
    padding-left: 8%;
    padding-top: 4%;
}

.collection > strong {
    padding-left: 8%;
}

#tags {
    padding-left: 8%;
}

div.wide.form label {
    float: left;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 119px;
}