body {
  background-color: #150917;
}
.popup_gradient {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJjYmYiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fefefe 0%, rgba(187, 188, 191, 0.85) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, rgba(187, 188, 191, 0.85)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fefefe 0%, rgba(187, 188, 191, 0.85) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fefefe 0%, rgba(187, 188, 191, 0.85) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fefefe 0%, rgba(187, 188, 191, 0.85) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #fefefe 0%, rgba(187, 188, 191, 0.85) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d9bbbcbf', GradientType=0);
  /* IE6-8 */

}
.toast-item-image-notice {
  display: none;
}
@font-face {
  font-family: Museo;
  font-weight: normal;
  src: url("../fonts/Museo100-Regular.otf") format("opentype");
}
@font-face {
  font-family: Museo;
  font-weight: bold;
  src: url("../fonts/Museo700-Regular.otf") format("opentype");
}
p,
div,
h1,
h2,
h3,
.mm-is-menu * {
  font-family: Museo;
  color: white;
}
input {
  font-family: Museo;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  background-color: gray;
  color: black;
  height: 22px;
  line-height: 22px;
  font-size: 22px;
  color: #ffffff;
}
::-webkit-input-placeholder {
  font-family: Museo;
}
:-moz-placeholder {
  /* Firefox 18- */

  font-family: Museo;
}
::-moz-placeholder {
  /* Firefox 19+ */

  font-family: Museo;
}
:-ms-input-placeholder {
  color: white;
}
input.add_word {
  color: #f6f6f6;
}
input.add_word::-webkit-input-placeholder {
  color: white;
  font-size: 25px;
}
input.add_word:-moz-placeholder {
  /* Firefox 18- */

  color: white;
  font-size: 25px;
}
input.add_word::-moz-placeholder {
  /* Firefox 19+ */

  color: white;
  font-size: 25px;
}
input.add_word::-ms-input-placeholder {
  color: white;
  font-size: 25px;
}
.new_interest {
  padding-top: 15px;
}
.margin_topBottom {
  margin-top: 30px;
  margin-bottom: 15px;
}
.right_padding {
  padding-right: 10px;
}
.mm-is-menu li > a,
.mm-is-menu li > span {
  padding-left: 10px;
}
.hidden {
  display: none;
}
.right {
  left: auto;
  float: right;
}
.left {
  float: left;
}
.text-center {
  text-align: center;
}
#header {
  padding: 5px;
  background-color: #030104;
  height: auto;
}
#header a {
  text-decoration: none;
  line-height: 25px;
}
#header .top_btn {
  border: 1px solid #403b3d;
  border-radius: 7px 7px 7px 7px;
  color: #46A5C4;
  padding: 3px 8px;
  text-decoration: none;
}
#header .setting {
  display: block;
  background-image: url('../images/settings.png');
  background-repeat: 'no-repeat';
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  width: 35px;
  height: 22px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  #header .setting {
    background-image: url('../images/settings@2x.png');
    background-repeat: 'no-repeat';
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
#header .back {
  padding-left: 25px;
}
html.mm-right.mm-opening .mm-page,
html.mm-right.mm-opening #mm-blocker {
  margin: 0 -44px 0 0 !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  html.mm-right.mm-opening .mm-page,
  html.mm-right.mm-opening #mm-blocker {
    margin: 0 -77px 0 0 !important;
  }
}
.ie .row input,
.ie .small_row input {
  width: 100%;
}
#content {
  padding: 0;
}
#content.hide_content {
  margin: 0 48px 0 0 !important;
}
#content .padding {
  padding-left: 25px;
  padding-right: 25px;
}
#content .big_button {
  display: block;
  left: 50%;
  right: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
}
#content .big_button span {
  border: 1px solid #877c80;
  padding: 1px 18px;
  color: #46a5c4;
  border-radius: 7px;
}
#content .header {
  height: 110px !important;
  text-align: center;
}
#content .header .title {
  padding: 20px 0 15px 0;
}
#content h2 {
  color: #a3a3a3;
  line-height: 60px;
  font-size: 12px;
  padding-left: 25px;
  padding-right: 25px;
}
#content h3 {
  background-color: #403b3d;
  color: #a3a3a3;
  height: 14px;
  line-height: 13px;
  font-size: 9px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
#content h4 {
  color: #a3a3a3;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
#content #word_screen h3,
#content #final_screen h3 {
  margin-top: 4px !important;
}
#content .header_scores {
  text-align: right;
  margin-top: -43px;
  padding-right: 12px;
}
#content .header_scores div {
  height: 15px;
}
#content .header_scores div.you,
#content .header_scores div.opponent {
  text-transform: capitalize;
}
#content .header_scores div label {
  text-align: left;
  width: 20px;
  display: inline-flex;
}
#content .header_scores div .active_player {
  color: #f7f200 !important;
}
#content .row > div:first-of-type,
#content .small_row > div:first-of-type {
  font-size: 15px;
  padding-left: 22px;
  padding-right: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#content #final_screen .small_row > div,
#content #game_screen #words .small_row > div {
  padding-right: 10px;
}
#content .bookmark_img {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
#content .delete {
  background-image: url('../images/delete.png');
  background-repeat: 'no-repeat';
  width: auto;
  height: auto;
  background-repeat: no-repeat;
  width: 31px;
  height: 22px;
  margin-top: -28px;
  padding-right: 0s;
  padding-right: 10px;
  cursor: pointer;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  #content .delete {
    background-image: url('../images/delete@2x.png');
    background-repeat: 'no-repeat';
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
#content #list_institutions {
  padding-top: 15px;
  width: 300px;
}
#content .institution_logo {
  width: 140px;
  height: 140px;
}
#content #bookmarks .bookmark {
  white-space: nowrap;
  overflow: hidden;
}
.row_link {
  cursor: pointer;
}
body .row,
body .row a {
  height: 35px;
  text-transform: uppercase;
  line-height: 35px;
  font-size: 14px;
  color: #341d33;
}
body li.row {
  padding-left: 10px;
}
body li.row div {
  cursor: pointer;
}
body .small_row {
  text-transform: uppercase;
  height: 35px !important;
  line-height: 35px;
  font-size: 25px;
}
body .small_row input {
  background-color: transparent;
  height: 35px;
  font-size: 25px;
  border-radius: 0px;
  padding: 0;
  color: black;
}
body .small_row > div:first-of-type {
  padding-left: 22px;
  color: white;
}
body .back_yellow {
  background-image: url('../images/back_yellow.png');
  background-repeat: 'repeat-x';
  width: auto;
  height: auto;
  background-repeat: repeat-x;
  color: #341d33 !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .back_yellow {
    background-image: url('../images/back_yellow@2x.png');
    background-repeat: 'repeat-x';
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_yellow a,
body .back_yellow div:first-of-type {
  color: #341d33 !important;
  text-decoration: none;
  cursor: pointer;
}
body #account_interest .row div:first-of-type {
  cursor: auto;
}
body .back_gray,
body .blank_bar {
  background-image: url('../images/back_gray.png');
  background-repeat: 'repeat-x';
  width: auto;
  height: auto;
  background-repeat: repeat-x;
  color: #341d33 !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .back_gray,
  body .blank_bar {
    background-image: url('../images/back_gray@2x.png');
    background-repeat: 'repeat-x';
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_gray a,
body .blank_bar a,
body .back_gray div,
body .blank_bar div {
  color: #341d33 !important;
  text-decoration: none;
  cursor: pointer;
}
body .blank_bar > div {
  color: #FFF !important;
  font-size: 25px !important;
}
body .back_dark_gray {
  background-image: url('../images/back_dark_gray.png');
  background-repeat: 'repeat-x';
  width: auto;
  height: auto;
  background-repeat: repeat-x;
  color: white !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .back_dark_gray {
    background-image: url('../images/back_dark_gray@2x.png');
    background-repeat: 'repeat-x';
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_dark_gray a,
body .back_dark_gray div {
  color: white !important;
  text-decoration: none;
  cursor: pointer;
}
body .upped_bar {
  background-image: url('../images/back_upped_bar.png');
  background-repeat: 'repeat-x';
  width: auto;
  height: auto;
  background-repeat: repeat-x;
  color: white !important;
  cursor: pointer;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .upped_bar {
    background-image: url('../images/back_upped_bar@2x.png');
    background-repeat: 'repeat-x';
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .bonus_bar {
  background-image: url('../images/back_bonus_bar.png');
  background-repeat: 'repeat-x';
  width: auto;
  height: auto;
  background-repeat: repeat-x;
  color: white !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .bonus_bar {
    background-image: url('../images/back_bonus_bar@2x.png');
    background-repeat: 'repeat-x';
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_black,
body .standard_bar {
  background-image: url('../images/back_black.png');
  background-repeat: 'repeat-x';
  width: auto;
  height: auto;
  background-repeat: repeat-x;
  color: white !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .back_black,
  body .standard_bar {
    background-image: url('../images/back_black@2x.png');
    background-repeat: 'repeat-x';
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_black a,
body .standard_bar a {
  color: white !important;
  text-decoration: none;
  cursor: pointer;
}
body .up_bar {
  background-image: url('../images/back_blue.png');
  background-repeat: 'repeat-x';
  width: auto;
  height: auto;
  background-repeat: repeat-x;
  color: white !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .up_bar {
    background-image: url('../images/back_blue@2x.png');
    background-repeat: 'repeat-x';
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .bar_right {
  display: block;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 10px;
  margin-top: -32px;
  padding-right: 10px;
  right: 0;
  text-align: right;
  text-transform: uppercase;
}
body .standard_bar span:first-of-type,
body .up_bar span:first-of-type,
body .bonus_bar span:first-of-type {
  color: #46a5c4;
  padding-right: 10px;
}
body .standard_bar span:nth-of-type(2),
body .up_bar span:nth-of-type(2),
body .bonus_bar span:nth-of-type(2) {
  color: white;
}
body .bonus_bar span.lines_2 {
  color: #46a5c4;
}
body .upped_bar span:first-of-type {
  color: #f8f400;
  padding-right: 10px;
}
body .upped_bar span:nth-of-type(2) {
  color: #46a5c4;
}
body .main_gray {
  background-image: url('../images/pattern.gif');
  background-repeat: repeat;
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .main_gray {
    background-image: url('../images/pattern@2x.gif');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_blue,
body .up_bar {
  background-image: url('../images/back_blue.png');
  background-repeat: 'repeat-x';
  width: auto;
  height: auto;
  background-repeat: repeat-x;
  color: white !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .back_blue,
  body .up_bar {
    background-image: url('../images/back_blue@2x.png');
    background-repeat: 'repeat-x';
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_blue a,
body .up_bar a {
  color: white !important;
  text-decoration: none;
}
body .mm-is-menu {
  background-image: url('../images/all_blue.png');
  background-repeat: repeat;
  width: auto;
  height: auto;
  height: 100%;
  width: 100%;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .mm-is-menu {
    background-image: url('../images/all_blue@2x.png');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .mm-right.mm-opening .mm-page,
body html.mm-right.mm-opening #mm-blocker {
  margin: 0 -48px 0 0 !important;
}
body .mm-menu.mm-right .mm-inner {
  padding: 0 0 0 50px;
}
body .index_screen div.button,
body #account_update div.button {
  margin: 20px;
}
body .index_screen input,
body #account_update input {
  width: 60%;
}
body .logo {
  margin: 50px 20px;
}
body a.button {
  background-color: #46a5c4;
  border: 1px solid #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  padding: 3px 8px;
  text-decoration: none;
  line-height: 27px;
  font-size: 15px;
}
body #oneUp_curtain {
  background: url(../images/ajax-loader.gif) center center no-repeat #000000 !important;
  z-index: 9000;
  position: absolute;
}
body .checkbox {
  width: 16px;
  height: 16px;
}
body.retina .no_value {
  font-size: 37px;
  padding-left: 30px;
}
body.retina div {
  font-size: 37px;
}
body.retina li.row {
  padding-left: 22px;
}
body.retina #header a {
  font-size: 30px;
  line-height: 42px;
}
body.retina .mm-is-menu li > a,
body.retina .mm-is-menu li > span {
  text-indent: 0px;
}
body.retina input {
  height: 35px;
  line-height: 30px;
  font-size: 30px;
}
body.retina input.add_word::-webkit-input-placeholder {
  font-size: 60px;
}
body.retina input.add_word:-moz-placeholder {
  /* Firefox 18- */

  font-size: 60px;
}
body.retina input.add_word::-moz-placeholder {
  /* Firefox 19+ */

  font-size: 60px;
}
body.retina input.add_word::-ms-input-placeholder {
  font-size: 60px;
}
body.retina .index_screen div.button,
body.retina #account_update div.button {
  margin: 30px;
}
body.retina .index_screen div.button:last-of-type,
body.retina #account_update div.button:last-of-type {
  margin: 50px;
}
body.retina .button {
  font-size: 30px;
}
body.retina a.button {
  line-height: 35px;
  font-size: 35px;
  padding: 0 20px;
}
body.retina .mm-menu.mm-right .mm-inner {
  padding: 0 0 0 76px;
}
body.retina .row,
body.retina .row a {
  height: 82px !important;
  line-height: 82px;
  font-size: 37px;
}
body.retina .row span,
body.retina .row a span,
body.retina .row div,
body.retina .row a div {
  line-height: 82px;
  font-size: 40px;
}
body.retina .row span.header_scores,
body.retina .row a span.header_scores,
body.retina .row div.header_scores,
body.retina .row a div.header_scores {
  font-size: 37px !important;
}
body.retina .row span.header_scores label,
body.retina .row a span.header_scores label,
body.retina .row div.header_scores label,
body.retina .row a div.header_scores label {
  width: 40px;
}
body.retina .row span.round,
body.retina .row a span.round,
body.retina .row div.round,
body.retina .row a div.round,
body.retina .row span.round span,
body.retina .row a span.round span,
body.retina .row div.round span,
body.retina .row a div.round span {
  font-size: 70px !important;
}
body.retina .row_round {
  padding-right: 0;
}
body.retina .small_row {
  height: 70px !important;
  line-height: 70px;
  font-size: 25px;
}
body.retina .small_row div {
  font-size: 32px;
  height: 70px !important;
  line-height: 70px;
}
body.retina .small_row div span {
  font-size: 45px;
}
body.retina .small_row input {
  height: 70px;
  font-size: 60px;
}
body.retina .bar_right {
  font-size: 20px !important;
  line-height: 22px;
  margin-top: -68px;
  padding-right: 10px;
}
body.retina .bar_right.lines_2 {
  margin-top: -62px;
}
body.retina #content .padding {
  padding-left: 20px;
  padding-right: 20px;
}
body.retina #content .row,
body.retina #content .small_row > div:first-of-type {
  font-size: 60px !important;
}
body.retina #content .row,
body.retina #content .small_row > div:first-of-type {
  padding-right: 55px;
}
body.retina #content .row > div:first-of-type,
body.retina #content .small_row > div:first-of-type {
  font-size: 40px;
}
body.retina #content .header {
  height: 259px !important;
}
body.retina #content .header .title {
  font-size: 40px;
  padding: 40px 10px 35px 10px;
}
body.retina #content .round_row {
  padding-right: 10px;
}
body.retina #content .header_scores div {
  height: 35px;
}
body.retina #content #game_screen .header_scores {
  margin-top: -100px;
}
body.retina #content #word_screen .header_scores {
  margin-top: -18px;
}
body.retina #content #word_screen .header_scores div,
body.retina #content #word_screen .header_scores span {
  font-size: 35px !important;
}
body.retina #content .big_button {
  font-size: 50px;
}
body.retina #content h2 {
  line-height: 80px;
  font-size: 40px;
  /*      padding-left: 50px;
      padding-right: 50px;*/

}
body.retina #content h3 {
  height: 34px;
  line-height: 34px;
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
}
body.retina #content h4 {
  height: 34px;
  line-height: 34px;
  font-size: 35px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}
body.retina #content .delete {
  width: 62px;
  height: 44px;
  margin-top: -62px;
  margin-right: -55px;
}
body.retina #content #list_institutions {
  padding-top: 25px;
  width: 580px;
}
body.retina #content .institution_logo {
  width: 280px;
  height: 280px;
}
body.retina #header {
  padding: 10px 5px;
}
body.retina #header .setting {
  width: 68px;
  height: 42px;
}
body.retina #header .back {
  padding-left: 5px;
}
body.retina .checkbox {
  width: 32px;
  height: 32px;
}
.no_margin {
  margin-top: 0 !important;
}
.no-title .ui-dialog-titlebar {
  display: none;
}
.no-title .ui-dialog-buttonpane {
  border: 0px !important;
}
.no-title .ui-dialog-buttonset {
  width: 100%;
  text-align: center;
}
.username {
  font-weight: bolder !important;
}
.no_right_padding {
  padding-right: 0px !important;
}
