body {
  background-color: #150917;
}
.popup_gradient {
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYmJjYmYiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fefefe 0%, rgba(187, 188, 191, 0.85) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, rgba(187, 188, 191, 0.85)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #fefefe 0%, rgba(187, 188, 191, 0.85) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #fefefe 0%, rgba(187, 188, 191, 0.85) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #fefefe 0%, rgba(187, 188, 191, 0.85) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #fefefe 0%, rgba(187, 188, 191, 0.85) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#d9bbbcbf', GradientType=0);
  /* IE6-8 */

}
.toast-item-image-notice {
  display: none;
}
@font-face {
  font-family: Museo;
  font-weight: normal;
  src: url("../fonts/Museo100-Regular.otf") format("opentype");
}
@font-face {
  font-family: Museo;
  font-weight: bold;
  src: url("../fonts/Museo700-Regular.otf") format("opentype");
}
p,
div,
h1,
h2,
h3,
.mm-is-menu * {
  font-family: Museo;
  color: white;
}
input {
  font-family: Museo;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  background-color: gray;
  color: #ffffff;
  height: 22px;
  line-height: 22px;
  font-size: 22px;
}
::-webkit-input-placeholder {
  font-family: Museo;
}
:-moz-placeholder {
  /* Firefox 18- */

  font-family: Museo;
}
::-moz-placeholder {
  /* Firefox 19+ */

  font-family: Museo;
}
:-ms-input-placeholder {
  font-family: Museo;
}
.new_interest {
  padding-top: 15px;
}
.margin_topBottom {
  margin-top: 30px;
  margin-bottom: 15px;
}
.right_padding {
  padding-right: 10px;
}
.mm-is-menu li > a,
.mm-is-menu li > span {
  padding-left: 10px;
}
.hidden {
  display: none;
}
.right {
  left: auto;
  float: right;
}
.left {
  float: left;
}
.text-center {
  text-align: center;
}
#header {
  padding: 5px;
  background-color: #030104;
  height: auto;
}
#header a {
  text-decoration: none;
  line-height: 25px;
}
#header .top_btn {
  border: 1px solid #403b3d;
  border-radius: 7px 7px 7px 7px;
  color: #46A5C4;
  padding: 3px 8px;
  text-decoration: none;
}
#header .setting {
  display: block;
  background-image: url('../images/settings.png');
  background-repeat: repeat;
  width: auto;
  height: auto;
  width: 35px;
  height: 22px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  #header .setting {
    background-image: url('../images/settings@2x.png');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
#header .back {
  padding-left: 25px;
}
.mm-right.mm-opening .mm-page,
html.mm-right.mm-opening #mm-blocker {
  margin: 0 -48px 0 0 !important;
}
#content {
  padding: 0;
}
#content.hide_content {
  margin: 0 48px 0 0 !important;
}
#content .padding {
  padding-left: 25px;
  padding-right: 25px;
}
#content .big_button {
  display: block;
  left: 50%;
  right: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
}
#content .big_button span {
  border: 1px solid #877c80;
  padding: 10px;
  color: #46a5c4;
  border-radius: 7px;
}
#content .header {
  height: 130px !important;
  text-align: center;
}
#content .header .title {
  padding: 35px 0 17px 0;
}
#content h2 {
  color: #a3a3a3;
  line-height: 60px;
  font-size: 12px;
  padding-left: 25px;
  padding-right: 25px;
}
#content h3 {
  background-color: #403b3d;
  color: #a3a3a3;
  height: 17px;
  line-height: 17px;
  font-size: 9px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
#content h4 {
  color: #a3a3a3;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
}
#content #word_screen h3,
#content #final_screen h3 {
  margin-top: 4px !important;
}
#content .header_scores {
  text-align: right;
  margin-top: -8px;
}
#content .header_scores div {
  height: 15px;
}
#content .header_scores div.you {
  color: #a3a3a3;
}
#content .header_scores div.opponent {
  color: #f7f200;
}
#content .row,
#content .small_row {
  padding-left: 22px;
  padding-right: 22px;
}
#content .row input,
#content .small_row input {
  width: 100%;
}
#content .delete {
  background-image: url('../images/delete.png');
  background-repeat: repeat;
  width: auto;
  height: auto;
  width: 31px;
  height: 22px;
  margin-top: 10px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  #content .delete {
    background-image: url('../images/delete@2x.png');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
#content #list_institutions {
  padding-top: 15px;
  width: 300px;
}
#content .institution_logo {
  width: 140px;
  height: 140px;
}
#content #bookmarks .bookmark {
  white-space: nowrap;
  overflow: hidden;
}
body .row,
body .row a {
  height: 42px;
  text-transform: uppercase;
  line-height: 42px;
  font-size: 14px;
  color: #341d33;
}
body .small_row {
  text-transform: uppercase;
  height: 35px !important;
  line-height: 35px;
  font-size: 13px;
}
body .small_row input {
  background-color: transparent;
  height: 35px;
  font-size: 13px;
  border-radius: 0px;
  padding: 0;
  color: #341D33;
}
body .back_yellow {
  background-image: url('../images/back_yellow.png');
  background-repeat: repeat;
  width: auto;
  height: auto;
  color: #341d33 !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .back_yellow {
    background-image: url('../images/back_yellow@2x.png');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_yellow a {
  color: #341d33 !important;
  text-decoration: none;
}
body .back_gray,
body .blank_bar {
  background-image: url('../images/back_gray.png');
  background-repeat: repeat;
  width: auto;
  height: auto;
  color: #341d33 !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .back_gray,
  body .blank_bar {
    background-image: url('../images/back_gray@2x.png');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_gray a,
body .blank_bar a {
  color: #341d33 !important;
  text-decoration: none;
}
body .back_dark_gray {
  background-image: url('../images/back_dark_gray.png');
  background-repeat: repeat;
  width: auto;
  height: auto;
  color: white !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .back_dark_gray {
    background-image: url('../images/back_dark_gray@2x.png');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_dark_gray a {
  color: white !important;
  text-decoration: none;
}
body .upped_bar {
  background-image: url('../images/back_upped_bar.png');
  background-repeat: repeat;
  width: auto;
  height: auto;
  color: white !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .upped_bar {
    background-image: url('../images/back_upped_bar@2x.png');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .bonus_bar {
  background-image: url('../images/back_bonus_bar.png');
  background-repeat: repeat;
  width: auto;
  height: auto;
  color: white !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .bonus_bar {
    background-image: url('../images/back_bonus_bar@2x.png');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_black,
body .standard_bar {
  background-image: url('../images/back_black.png');
  background-repeat: repeat;
  width: auto;
  height: auto;
  color: white !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .back_black,
  body .standard_bar {
    background-image: url('../images/back_black@2x.png');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_black a,
body .standard_bar a {
  color: white !important;
  text-decoration: none;
}
body .bar_right {
  display: block;
  font-size: 9px;
  font-weight: bold;
  line-height: 10px;
  margin-top: -32px;
  right: 0;
  text-align: right;
  text-transform: uppercase;
}
body .standard_bar span:first-of-type,
body .up_bar span:first-of-type,
body .bonus_bar span:first-of-type {
  color: #46a5c4;
  padding-right: 10px;
}
body .standard_bar span:nth-of-type(2),
body .up_bar span:nth-of-type(2),
body .bonus_bar span:nth-of-type(2) {
  color: white;
}
body .upped_bar span:first-of-type {
  color: #f8f400;
  padding-right: 10px;
}
body .upped_bar span:nth-of-type(2) {
  color: #46a5c4;
}
body .main_gray {
  background-image: url('../images/pattern.gif');
  background-repeat: repeat;
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .main_gray {
    background-image: url('../images/pattern@2x.gif');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_blue,
body .up_bar {
  background-image: url('../images/back_blue.png');
  background-repeat: repeat;
  width: auto;
  height: auto;
  color: white !important;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .back_blue,
  body .up_bar {
    background-image: url('../images/back_blue@2x.png');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .back_blue a,
body .up_bar a {
  color: white !important;
  text-decoration: none;
}
body .mm-is-menu {
  background-image: url('../images/all_blue.png');
  background-repeat: repeat;
  width: auto;
  height: auto;
  height: 100%;
  width: 100%;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-max-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 1.5) and (pointer: coarse), only screen and (min-resolution: 1.5dppx) and (orientation: portrait) {
  body .mm-is-menu {
    background-image: url('../images/all_blue@2x.png');
    background-repeat: repeat;
    /*    width: @w_retina;
      height: @h_retina;*/
  
  }
}
body .mm-right.mm-opening .mm-page,
body html.mm-right.mm-opening #mm-blocker {
  margin: 0 -48px 0 0 !important;
}
body .mm-menu.mm-right .mm-inner {
  padding: 0 0 0 50px;
}
body .index_screen div.button,
body #account_update div.button {
  margin: 20px;
}
body .index_screen input,
body #account_update input {
  width: 60%;
}
body .logo {
  margin: 50px 20px;
}
body a.button {
  background-color: #46a5c4;
  border: 1px solid #FFFFFF;
  border-radius: 7px 7px 7px 7px;
  color: #FFFFFF;
  padding: 3px 8px;
  text-decoration: none;
  line-height: 27px;
  font-size: 15px;
}
body.retina #header a {
  font-size: 30px;
  line-height: 42px;
}
body.retina .mm-is-menu li > a,
body.retina .mm-is-menu li > span {
  text-indent: 0px;
}
body.retina input {
  height: 22px;
  line-height: 20px;
  font-size: 20px;
}
body.retina .index_screen div.button,
body.retina #account_update div.button {
  margin: 20px;
}
body.retina .index_screen div.button:last-of-type,
body.retina #account_update div.button:last-of-type {
  margin: 50px;
}
body.retina a.button {
  line-height: 20px;
  font-size: 20px;
}
body.retina .mm-menu.mm-right .mm-inner {
  padding: 0 0 0 76px;
}
body.retina .row,
body.retina .row a {
  height: 82px !important;
  line-height: 82px;
  font-size: 25px !important;
}
body.retina .row span,
body.retina .row a span {
  line-height: 82px;
  font-size: 37px !important;
}
body.retina .small_row {
  height: 70px !important;
  line-height: 70px;
  font-size: 25px;
}
body.retina .small_row input {
  height: 70px;
  font-size: 32px;
}
body.retina .bar_right {
  font-size: 20px;
  line-height: 22px;
  margin-top: -67px;
}
body.retina #content .padding {
  padding-left: 20px;
  padding-right: 20px;
}
body.retina #content .header {
  height: 259px !important;
}
body.retina #content .header .title {
  padding: 70px 0 35px 0;
}
body.retina #content .header_scores {
  margin-top: -15px;
}
body.retina #content .header_scores div {
  height: 35px;
}
body.retina #content .big_button {
  font-size: 44px;
}
body.retina #content h2 {
  line-height: 80px;
  font-size: 22px;
  /*      padding-left: 50px;
      padding-right: 50px;*/

}
body.retina #content h3 {
  height: 34px;
  line-height: 34px;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}
body.retina #content h4 {
  height: 34px;
  line-height: 34px;
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}
body.retina #content .delete {
  width: 62px;
  height: 44px;
  margin-top: 22px;
}
body.retina #content .row,
body.retina #content .small_row {
  padding-left: 22px;
  padding-right: 22px;
}
body.retina #content #list_institutions {
  padding-top: 25px;
  width: 580px;
}
body.retina #content .institution_logo {
  width: 280px;
  height: 280px;
}
body.retina #header .setting {
  width: 68px;
  height: 42px;
}
body.retina #header .back {
  padding-left: 5px;
}
.no_margin {
  margin-top: 0 !important;
}
.no-title .ui-dialog-titlebar {
  display: none;
}
.no-title .ui-dialog-buttonpane {
  border: 0px !important;
}
.no-title .ui-dialog-buttonset {
  width: 100%;
  text-align: center;
}
