.at2x(@path, @w: auto, @h: auto, @repeat: repeat, @w_retina: auto, @h_retina: auto) {
  background-image: url(@path);
  background-repeat: @repeat;
  width: @w;
  height: @h;
  @at2x_path: ~`"@{path}".split('.').slice(0, "@{path}".split('.').length - 1).join(".") + "@2x" + "." + "@{path}".split('.')["@{path}".split('.').length - 1]`;

  @media all and  (-webkit-min-device-pixel-ratio : 1.5),
  only screen and (    min--moz-device-pixel-ratio: 1.5),
  only screen and (      -o-max-device-pixel-ratio: 2/1),
  only screen and (         min-device-pixel-ratio: 1.5),
  only screen and (              min-resolution: 192dpi),
  only screen and (               min-resolution: 2dppx),
  only screen and (         min-device-pixel-ratio: 1.5) and (pointer:coarse),
  only screen and (              min-resolution: 1.5dppx) and (orientation: portrait) {
    background-image: url(@at2x_path);
    //background-size: @w @h;
    background-repeat: @repeat;
/*    width: @w_retina;
    height: @h_retina;*/
  }
}

body {
  background-color: #150917;
}

.toast-item-image-notice {
  display: none;
}

@font-face {
  font-family: Museo;
  font-weight: normal;
  src: url("../fonts/Museo100-Regular.otf") format("opentype");
}

@font-face {
  font-family: Museo;
  font-weight: bold;
  src: url("../fonts/Museo700-Regular.otf") format("opentype");
}

p, div, h1, h2, h3, .mm-is-menu * {
  font-family: Museo;
  color: white;
}

input {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  background-color: gray;
}

.new_interest {
  padding-top: 15px;
}

.margin_topBottom {
  margin-top: 30px;
  margin-bottom: 15px;
}

.right_padding {
  padding-right: 10px;
}

.mm-is-menu li > a, .mm-is-menu li > span {
  padding-left: 10px;
}

.hidden {
  display: none;
}

.right {
  left: auto;
  float: right;
}

.left {
  float: left;
}

.text-center {
  text-align: center;
}

#header {

  padding: 5px;
  background-color: #030104;
  height: auto;

  a {
    text-decoration: none;
    line-height: 25px;
  }

  .top_btn {
    border: 1px solid #403b3d;
    border-radius: 7px 7px 7px 7px;
    color: #46A5C4;
    padding: 3px 8px;
    text-decoration: none;
  }

  .setting {
    display: block;
    .at2x('../images/settings.png');
    width: 35px;
    height: 22px;
  }

  .back {
    padding-left: 25px;
  }

}

.mm-right.mm-opening .mm-page, html.mm-right.mm-opening #mm-blocker {
  margin: 0 -48px 0 0 !important;
}

#content {
  padding: 0;

  &.hide_content {
    margin: 0 48px 0 0 !important;
  }

  .padding {
    padding-left: 25px;
    padding-right: 25px;
  }

  .big_button {
    display: block;
    left: 50%;
    right: 50%;
    text-align: center;
    text-decoration: none;
    font-size: 22px;

    span {
      border: 1px solid #877c80;
      padding: 10px;
      color: #46a5c4;
      border-radius: 7px;
    }
  }

  .header {
    height: 130px !important;
    text-align: center;

    .title {
      padding: 35px 0 17px 0;
    }
  }

  h2 {
    color: #a3a3a3;
    line-height: 60px;
    font-size: 12px;
    padding-left: 25px;
    padding-right: 25px;
  }

  h3 {
    background-color: #403b3d;
    color: #a3a3a3;
    height: 17px;
    line-height: 17px;
    font-size: 9px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
  }

  h4 {
    color: #a3a3a3;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
  }

  #word_screen, #final_screen {
    h3 {
      margin-top: 4px !important;
    }
  }

  .header_scores {
    text-align: right;
    margin-top: -8px;

    div {
      height: 15px;
      &.you {
        color: #a3a3a3;
      }
      &.opponent {
        color: #f7f200;
      }
    }
  }

  .row, .small_row {
    padding-left: 22px;
    padding-right: 22px;
    input {
      width: 100%;
    }
  }

  .delete {
    .at2x('../images/delete.png');
    width: 31px;
    height: 22px;
    margin-top: 10px;
  }

  #list_institutions {
    padding-top: 15px;
    width: 300px;
  }

  .institution_logo {
    width: 140px;
    height: 140px;
  }

  #bookmarks {
    .bookmark {
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

body {
  .row, .row a {
    height: 42px !important;
    line-height: 42px;
    font-size: 13px !important;
    color: #341d33;
  }

  .small_row {
    text-transform: uppercase;
    height: 35px !important;
    line-height: 35px;
    font-size: 13px !important;

    input {
      background-color: transparent;
      height: 35px;
      font-size: 13px;
      border-radius: 0px;
      padding: 0;
      color: #341D33;
    }
  }

  .back_yellow {
    .at2x('../images/back_yellow.png');
    color: #341d33 !important;
    a {
      color: #341d33 !important;
      text-decoration: none;
    }
  }

  .back_gray, .blank_bar {
    .at2x('../images/back_gray.png');
    color: #341d33 !important;
    a {
      color: #341d33 !important;
      text-decoration: none;
    }
  }

  .back_dark_gray {
    .at2x('../images/back_dark_gray.png');
    color: white !important;
    a {
      color: white !important;
      text-decoration: none;
    }
  }

  .upped_bar {
    .at2x('../images/back_upped_bar.png');
    color: white !important;
  }

  .bonus_bar {
    .at2x('../images/back_bonus_bar.png');
    color: white !important;
  }

  .back_black, .standard_bar {
    .at2x('../images/back_black.png');
    color: white !important;
    a {
      color: white !important;
      text-decoration: none;
    }
  }

  .bar_right {
    display: block;
    font-size: 9px;
    font-weight: bold;
    line-height: 10px;
    margin-top: -32px;
    right: 0;
    text-align: right;
    text-transform: uppercase;
  }

  .standard_bar, .up_bar, .bonus_bar {
    span:first-of-type {
      color: #46a5c4;
      padding-right: 10px;
    }

    span:nth-of-type(2) {
      color: white;
    }
  }

  .upped_bar {
    span:first-of-type {
      color: #f8f400;
      padding-right: 10px;
    }
    span:nth-of-type(2) {
      color: #46a5c4;
    }
  }

  .main_gray {
    .at2x('../images/pattern.gif');
    text-align: center;
    padding: 10px;
  }

  .back_blue, .up_bar {
    .at2x('../images/back_blue.png');
    color: white !important;
    a {
      color: white !important;
      text-decoration: none;
    }
  }

  .mm-is-menu {
    .at2x('../images/all_blue.png');
    height: 100%;
    width: 100%;
  }

  .mm-right.mm-opening .mm-page, html.mm-right.mm-opening #mm-blocker {
    margin: 0 -48px 0 0 !important;
  }

  .mm-menu.mm-right .mm-inner {
    padding: 0 0 0 50px;
  }
}

body.retina {
  .mm-menu.mm-right .mm-inner {
    padding: 0 0 0 76px;
  }

  .row, .row a {
    height: 82px !important;
    line-height: 82px;
    font-size: 25px !important;
  }

  .small_row {
    height: 70px !important;
    line-height: 70px;
    font-size: 25px !important;

    input {
      height: 70px;
      font-size: 25px;
    }
  }

  .bar_right {
    font-size: 20px;
    line-height: 22px;
    margin-top: -67px;
  }

  #content {
    .padding {
      padding-left: 50px;
      padding-right: 50px;
    }

    .header {
      height: 259px !important;
      .title {
        padding: 70px 0 35px 0;
      }
    }

    .big_button {
      font-size: 44px;
    }

    h2 {
      line-height: 80px;
      font-size: 22px;
      padding-left: 50px;
      padding-right: 50px;
    }

    h3 {
      height: 34px;
      line-height: 34px;
      font-size: 16px;
      padding-left: 30px;
      padding-right: 30px;
    }

    h4 {
      height: 34px;
      line-height: 34px;
      font-size: 20px;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 20px;
    }

    .delete {
      width: 62px;
      height: 44px;
      margin-top: 22px;
    }

    .row, .small_row {
      padding-left: 44px;
      padding-right: 44px;
    }

    #list_institutions {
      padding-top: 25px;
      width: 580px;
    }

    .institution_logo {
      width: 280px;
      height: 280px;
    }
  }


  #header{
    .setting {
      width: 68px;
      height: 42px;
    }

    .back {
      padding-left: 50px;
    }
  }
}

.no_margin {
  margin-top: 0 !important;
}

.no-title {
  .ui-dialog-titlebar {
    display: none;
  }

  .ui-dialog-buttonpane {
    border: 0px !important;
  }

  .ui-dialog-buttonset {
    width: 100%;
    text-align: center;
  }
}